@charset "utf-8";
/* CSS Document */

body{ background-color:#F2F2F2 !important; }

a{ color:#222222;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.cr{display:block;float:none;font-size:0;height:0;line-height:0;overflow:hidden;clear:both;visibility: hidden;}
div.separation{ background-color:#e6e6e6; height:1px; width:100px; overflow:hidden; margin:5px 0px 10px;}

.mtop20{ margin-top:20px;}
.margin0{ margin:0px !important;}
.padding0{ padding:0px !important;}
.padding_margin0{margin:0px !important;padding:0px !important;}





.wp{ width:1040px !important;}








/**   首页   **/
/* 首页滚动栏 */
.banana_rotate{ position:relative; height:399px; width:1038px; overflow:hidden; border:#e6e6e6 1px solid;box-shadow:0px 0px 4px #ECECEC;}
.banana_rotate .roll_img{ height:351px; overflow:hidden;position:relative;}
.banana_rotate .roll{ height:48px; background-color:#FFFFFF; width:1040px;overflow:visible;}
.banana_rotate .roll li{float:left;}
.banana_rotate .roll .cont{height:44px; line-height:44px; width:346px; text-align:center; cursor:default; background-color:#FFFFFF;cursor:pointer; overflow:hidden;border:2px solid #FFFFFF;border-right:none; border-left:none;}
.roll .separator{margin-top:16px;height:16px;background:none;background-color:#d8d8d8;}
.banana_rotate .roll .current_con{border-bottom:2px solid #27b3ef;color:#0099CC;}
.inrotate_img{ margin:0px !important; padding:0px !important;}
.inrotate_img ul li{ padding:0px !important;}




.index_content{ margin:20px 0 0 0;}
.index_left{ float:left; width:740px;}
.index_right{ float:left; width:238px; border:1px solid #e6e6e6; margin:0 0 0 20px; background-color:#FFFFFF; padding:20px; box-shadow:0px 0px 4px #ECECEC;}
.index_right .column_r1_3{ margin-top:6px; font-size:14px;}
.index_right .column_r1_3 .thread{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; height:42px; line-height:42px; margin:0;}
.index_right .column_r1_3 .thread a{ font-size:14px;}

.index_right .column_r2 .thread{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; height:44px; line-height:44px; margin:0;}
.index_right .column_r2 .thread a{ font-size:14px;}

.index_right .column_r3 .thread{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; height:44px; line-height:44px; margin:0;}
.index_right .column_r3 .thread a{ font-size:14px;}



.index_right .column_r4 .shoot_img{ float:left;width:73px;height:73px;}
.index_right .shootimg_2, .index_right .shootimg_5{ margin-left:10px; *margin-left:4px;}
.index_right .shootimg_3, .index_right .shootimg_6{ margin-left:9px ;*margin-left:3px;}
.index_right .shootimg_4, .index_right .shootimg_5, .index_right .shootimg_6{ margin-top:10px;}

.index_right .column_r1{overflow:hidden; width:238px;}
.index_right .column_r2, .index_right .column_r3, .index_right .column_r4, .index_right .column_r5, .index_right .column_r6, .index_right .column_r7{ margin-top:32px; overflow:hidden; width:238px;}
.index_right .column_r3{margin-top:30px;}
.index_right .column_r5{margin-top:44px;}
.index_right .column_r6{margin-top:25px;}
.index_right .column_r7{margin-top:40px;}

.index_right .column_r6 li.head_li{ height:56px; line-height:56px; *height:56px; *line-height:56px; overflow:hidden; font-size:14px; }
.index_right .column_r6 li.head_li span{ display:block; height:100%; line-height:56px; *line-height:56px; float:left;}
.index_right .column_r6 li.head_li span.a{ width:40px;}
.index_right .column_r6 li.head_li span.b{ width:90px; _width:90px; margin-left:10px; white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.index_right .column_r6 li.head_li span.c{ width:56px; text-align:right;}
.index_right .column_r6 li.head_li .avatar{margin-top:10px;}


.index_right .column_r7 .tagbox .tag_tags{background-color:#FFFFFF; margin-bottom:15px;}
.index_right .column_r7 .tagbox .tag_tags .tg{ float:left; width:118px; height:50px; line-height:50px; text-align:center; font-size:18px; color:#222222; cursor:pointer; border-bottom:#e6e6e6 1px solid;}
.index_right .column_r7 .tagbox .tag_tags .activity{ border-bottom:#ffffff 1px solid; border-top:#e6e6e6 1px solid; border-left:#e6e6e6 1px solid; border-right:#e6e6e6 1px solid; color:#0099CC;}
.index_right .column_r7 .tagbox li.firmware_li{ float:left;font-size: 14px;margin-right:20px;}
.index_right .column_r7 .tagbox li.firmware_li_2{font-size: 14px; padding:10px 0; border-bottom:1px dashed #cccccc;}
.index_right .column_r7 .tagbox .tag_main{background-color:#FFFFFF;}

.index_left .index_list{ background-color:#FFFFFF;border: 1px solid #e6e6e6; position:relative;box-shadow:0px 0px 4px #ECECEC;}
.index_left .iimage img{ border-bottom:1px solid #e6e6e6;}
.index_left .iimage a.is_image{display:inline-block;}
.index_left .iimage a.is_image:hover{ opacity:0.85;filter:alpha(opacity=85);}
a.is_video .backmask_video{width:740px;height:248px;background-color:#000000;opacity:0.15;filter:alpha(opacity=15);}
a.is_video:hover .backmask_video{ opacity:0.30;filter:alpha(opacity=30);}
.index_left .ititle{ padding:20px;width:698px; white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.index_left .index_forum{ float:left; background-color:#0DAAEA; font-size:16px; color:#FFFFFF;height:36px;line-height:36px; padding:0px 9px;border-radius:5px 5px 5px 5px;}
.index_left .index_title{ float:left; color:#222222; padding-left:20px; font-size:22px;line-height:36px;}
.index_left .icontent{ padding:0 20px 20px 20px;line-height:28px; text-align:justify;text-justify:inter-ideograph;}
.index_left .icontent a.alink{ color:#0099CC; margin-left:20px;}
.index_left .icontent a.alink:hover{color:#0082ad;}
.index_left .itail{ padding:0 30px 28px 30px; height:20px;}
.index_left .itail .ireply{ float:right;color:#999999;}
.index_left .index_list .is_video{display:block; position:absolute; top:0px; left:0px; width:740px; height:248px;}
.is_video .play_start{background: url("../../../static/image/common/play_start.png") no-repeat 0 0px; _background: url("../../../static/image/common/play_start.gif") no-repeat 0 0px; position:absolute; width:88px; height:88px; left:326px; top:86px;}
a.is_video:hover .play_start{background: url("../../../static/image/common/play_start.png") no-repeat 0 -106px; _background: url("../../../static/image/common/play_start.gif") no-repeat 0 -106px; width:88px; height:88px; position:absolute; left:326px; top:86px;}

.index_left #load_index_list{ border:1px solid #e6e6e6; height:48px; background-color:#FFFFFF; margin-top:40px; cursor:pointer; }
.index_left #load_index_list .load_font{ text-align:center; line-height:48px; font-size:18px; color:#222222;}








.index_frame{ margin:20px 0 0 0; height:332px;}
.index_frame .blocktitle{ line-height:normal !important; height:auto !important;}

.index_frame .column_left{ width:780px; height:100%; float:left; background-color:#FFFFFF; overflow:hidden; border:#e6e6e6 1px solid;}
.index_frame .column_right{ width:240px; float:left; background-color:#FFFFFF; margin:0 0 0 16px; height:100%; overflow:hidden; border:#e6e6e6 1px solid;}
.index_frame .column_1_1{ width:330px; float:left; overflow:hidden;}
.index_frame .column_1_2{ width:390px; float:left;; padding:15px 10px 10px 40px;}
.index_frame .column_1_3_1{ overflow:hidden; width:240px; height:145px;}
.index_frame .column_1_3_2{ width:200px; margin:15px 0 0 20px;}
.index_frame .column_2_1{ width:330px; float:left;}
.index_frame .column_2_2{ width:390px; float:left; padding:15px 10px 10px 40px;}

.index_frame li.thread{height: 32px; line-height: 32px; font-size: 14px; overflow: hidden;}
.index_frame li.firmware_li{ float:left;font-size: 14px;margin-right:20px;}
.index_frame li.firmware_li_2{font-size: 14px; padding:9px 0; border-bottom:1px dashed #cccccc;}
.index_frame li.firmli_3{margin-right:0 !important;}
.index_frame li.firmware_li a{ color:#0099cc !important; cursor:pointer;}

.index_frame .column_2_3{margin:15px 20px 0 20px;}
.index_frame .column_2_3 li.head_li{ height:64px; line-height:64px; *height:60px; *line-height:60px; overflow:hidden; font-size:14px; }
.index_frame .column_2_3 li.head_li span{ display:block; height:100%; line-height:64px; *line-height:60px; float:left;}
.index_frame .column_2_3 li.head_li span.a{ width:40px;}
.index_frame .column_2_3 li.head_li span.b{ width:90px; _width:90px; margin-left:10px; white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.index_frame .column_2_3 li.head_li span.c{ width:60px; text-align:right;}
.index_frame .column_2_3 li.head_li .user_img{margin-top:15px; border:#e5e5e5 solid 1px;}


.index_frame .column_3_1{ width:330px; float:left; height:100%; overflow:hidden;}
.index_frame .column_3_2{ width:390px; float:left; padding:15px 20px 20px 40px;}
.index_frame .column_3_2 li.doyen , .index_frame .column_3_2 li.doyen2, .index_frame .column_5_2 li.doyen, .index_frame .column_5_2 li.doyen2{height: 30px; line-height: 30px; font-size: 14px; overflow: hidden; float:left; width:190px; _width:189px;}
.index_frame .column_3_2 li.doyen2, .index_frame .column_5_2 li.doyen2{ width:200px;}

.index_frame .column_3_3{ width:100%; height:95px; overflow:hidden;}
.index_frame .column_3_3 .column_3_4{}
.index_frame .column_3_4 .tagbox .tag_tags{border-top:#e6e6e6 1px solid;background-color:#FFFFFF;}
.index_frame .column_3_4 .tagbox .tag_tags .tg{ float:left; width:119px; height:58px; line-height:58px; text-align:center; font-size:18px; color:#81aab8; cursor:default; border-bottom:#e6e6e6 1px solid;background-color:#f7f7f7; }
.index_frame .column_3_4 .tagbox .tag_tags .tgreght{width:1px; background-color:#f7f7f7; float:right; height:40px;}
.index_frame .column_3_4 .tagbox .tag_tags .activity{ background-color:#FFFFFF; border-bottom:#FFFFFF 1px solid;color:#0099cc;}
.index_frame .column_3_4 .tagbox .tag_tags	#bbs_system_course_get{border-left:#e6e6e6 1px solid;}
.index_frame .column_3_4 .tagbox .tag_main{ height:197px;background-color:#FFFFFF;}
.index_frame .column_3_4 .tagbox .tag_main .ctag{ padding:20px;width:197px; overflow:hidden;}

.index_frame .column_4{padding:15px 19px 20px; border:#e6e6e6 1px solid;background-color:#FFFFFF; overflow:hidden;}
.index_frame .column_4 .tuji_frame1{ width:496px; float:left; overflow:hidden;}
.index_frame .column_4 .tuji_frame2{width:496px; float:left; overflow:hidden; margin-left:6px;}
.tuji_frame1 .tuji_1, .tuji_frame1 .tuji_1 img{width:496px; height:255px;}
.tuji_frame1 .tuji_2, .tuji_frame2 .tuji_4{ height:195px; width:245px; float:left;}
.tuji_frame1 .tuji_2 img,.tuji_frame1 .tuji_3 img{height:195px; width:245px;}
.tuji_frame1 .tuji_2,.tuji_frame1 .tuji_3{margin-top:6px;}
.tuji_frame1 .tuji_3, .tuji_frame2 .tuji_5{ height:195px; width:245px; float:left;margin-left:6px;}
.tuji_frame2 .tuji_6, .tuji_frame2 .tuji_6 img{width:496px; height:255px;}
.tuji_frame2 .tuji_4 img,.tuji_frame2 .tuji_5 img{height:195px; width:245px;}
.tuji_frame2 .tuji_6{margin-top:6px;}
.tuji_frame1 .tuji_img_box, .tuji_frame2 .tuji_img_box{ position:relative; }
.tuji_frame1 .tuji_desc, .tuji_frame2 .tuji_desc{ position:absolute; bottom:0px; left:0px; overflow:hidden;text-overflow:ellipsis;filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;z-index:100; background-color:#FFF; padding:5px 10px; color:#000000;color:pointer; font-size:16px; overflow:hidden; cursor:default;}


.index_frame .column_5_1{ width:330px; float:left;}
.index_frame .column_5_2{ width:390px; _width:389px; float:left; padding:15px 20px 20px 40px;}


.index_frame .column_2_1 .thread{height: 32px; line-height: 32px; font-size: 14px; overflow: hidden;}
.index_frame .column_2_2 .thread2{margin:0px; height: 38px; *height:30px; *+height:30px;font-size: 14px; overflow: hidden;}
.index_frame .column_2_2 .count_5, .index_frame .column_2_2 .count_6, .index_frame .column_2_2 .count_7, .index_frame .column_2_2 .count_8{height: 37px !important;_height:34px !important; *+height:34px !important;}
.thread2 .hot_replies{ float:left; width:36px; height:18px; line-height:18px; background-color:#dbeff8; text-align:center; margin-top:10px; margin-right:12px;font-size: 12px;  color:#6092b2;}
.thread2 .alink_replies{ float:left; line-height:36px;}
.highlight .hot_replies{ background-color:#689dbf !important;color:#FFFFFF !important;}
.highlight .alink_replies a{ font-size:18px; color:#3689b2 !important;}


.split_line{ width:2px; background-color:#e6e6e6; height:12px;float:left; margin:10px 10px 0 0;}
.firmware_download{border-radius:1px; background-color:#32a5e7; height:46px; line-height:46px; text-align:center; color:#FFFFFF; font-size:18px; margin:8px 0 0 0;}
.mhometitle1, .mhometitle2{ height:54px; line-height:54px; font-size:14px;text-align:left;}

.titletext2, .titletext2 a{color:#0099CC !important; font-size:18px;font-weight:normal;display:inline-block;height:25px;line-height:25px;}
.titletext2 a:hover,.titletext2 a:hover em{color:#0082ad !important;}
.bread_line{height:3px; width:100%;margin:15px 0px 5px;overflow:hidden;}
.bread_line .line{background-color:#e6e6e6; height:1px; width:100%; float:left; overflow:hidden;}
.download_button{ display:block;}
.download_button div{ cursor:pointer;}


.index_content .title{ height:auto; line-height:normal;}
.imgcont_roll{width:1040px;height:351px;display:none;}
.titletext2 em{padding:0px;margin:0px;float:left;}
.titletext2 .arrow{display:inline-block;margin:7px 0px 0px 8px;margin-top:5px\9;*margin-top:6px;_margin-top:5px;width:8px;height:14px;background:url(../../../static/image/common/main_icon.png) no-repeat 0px -54px;_background-image:url(../../../static/image/common/main_icon.gif);}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari*/
    .titletext2 .arrow{margin-top:6px;}
}

li.firmware_li em{padding:0px;margin:0px;float:left;color:#0099CC !important;}
li.firmware_li a:hover em{color:#0082ad !important;}
li.firmware_li .arrow_2{display:inline-block;margin:6px 0px 0px 5px;*margin-top:6px;width:6px;height:9px;background:url(../../../static/image/common/main_icon.png) no-repeat 0px -88px;_background-image:url(../../../static/image/common/main_icon.gif)}
.firmware_li a em{ cursor:pointer;}

@media screen and (max-width: 980px){
.index_left #load_index_list .load_font{font-size:22px;}
}

